.page {
  min-height: 100vh;
}

.animeContainer {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

.hrFaded {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #c1c1c1, transparent);
  margin-top: 20px;
  margin-bottom: 20px;
}
