@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #cd6b0b;
  --secondary-color: #783907;
  --btn-color-1: #cd6b0b;
  --btn-color-2: #783907;
}

body {
  background-color: var(--background-color);
}
