.page {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

.alert {
  text-align: center;
  color: var(--text-color);
  padding: 10px 20px;
  border: 1px dashed #c1c1c1;
  border-radius: 8px;
  margin-bottom: 50px;
}
