.recentlyAddedMovies {
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}

.recentlyAddedMoviesTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.recentlyAddedMoviesTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.btnSeeAll {
  padding: 5px 20px;
  border: 1px solid #c1c1c1;
  border-radius: 7px;

  cursor: pointer;
  transition: all 0.15s ease-in;
}

.btnSeeAll:hover {
  background-color: #c1c1c1;
}

.btnSeeAll:active {
  transform: scale(0.97);
}

.recentlyAddedMoviesHr {
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, #c1c1c1, transparent);

  margin-bottom: 30px;
}

.recentlyAddedMoviesCard {
  width: 230px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;

  position: relative;

  margin-bottom: 15px;
  cursor: pointer;

  transition: all 0.15s ease-in;
}

.recentlyAddedMoviesCard:hover {
  outline: 3px solid #ffffff;
  transform: scale(1.1);
}

/* imagem ocupa TODO o card */
.recentlyAddedMoviesPicture {
  object-fit: cover;
}

.MoviesOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  color: var(--text-color);
}

.MoviesTitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
}
