.recentlyAddedAnime {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.recentlyAddedAnimeTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.recentlyAddedAnimeTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-color);
}

.btnSeeAll {
  color: var(--text-color);
  padding: 5px 20px;
  border: 1px solid #c1c1c1;
  border-radius: 7px;

  cursor: pointer;
  transition: all 0.15s ease-in;
}

.btnSeeAll:hover {
  background-color: #c1c1c1;
  color: var(--text-color-after);
}

.btnSeeAll:active {
  transform: scale(0.97);
}

.recentlyAddedAnimeHr {
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, #c1c1c1, transparent);

  margin-bottom: 30px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.recentlyAddedAnimeCard {
  width: 100%;
  aspect-ratio: 2 / 3;

  border-radius: 8px;
  overflow: hidden;

  position: relative;

  margin-bottom: 15px;
  cursor: pointer;

  transition: all 0.15s ease-in;
}

.recentlyAddedAnimeCard:hover {
  outline: 3px solid #ffffff;
  transform: scale(1.03);
}

/* imagem ocupa TODO o card */
.recentlyAddedAnimePicture {
  object-fit: cover;
}

.animeOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  color: var(--text-color);
}

.animeTitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
}

/* / Configurações de Responsividade / */
@media (max-width: 1200px) {
  .cardsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .cardsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
