.animesAiring {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.animesAiringTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.animesAiringTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-color);
}

.btnSeeAll {
  color: var(--text-color);
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  padding: 5px 20px;

  cursor: pointer;
  transition: all 0.15s ease-in;
}

.btnSeeAll:hover {
  background-color: #c1c1c1;
  color: var(--text-color-after);
}

.btnSeeAll:active {
  transform: scale(0.97);
}

.animesAiringHr {
  border: none;
  height: 1px;
  width: 100%;

  background: linear-gradient(to right, transparent, #c1c1c1, transparent);

  margin-bottom: 30px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.epiCard {
  width: 100%;
  aspect-ratio: 16 / 9;

  /* border: 1px solid #c1c1c1; */

  position: relative;
  border-radius: 8px;
  overflow: hidden;

  cursor: pointer;
  transition: all 0.15s ease-in;
  margin-bottom: 15px;
}

.epiCard:hover {
  outline: 3px solid #ffffff;
  transform: scale(1.03);
}

.epiCard:active {
  transform: scale(1);
}

/* imagem ocupa TODO o card */
.epiBg {
  object-fit: cover;
}

/* texto sobreposto */
.epiOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  color: var(--text-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.epiTitle {
  flex: 1;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
}

/* / Configurações de Responsividade / */
/* Tablet */
@media (max-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .cardsGrid {
    grid-template-columns: 1fr;
  }
}
