.footerContainer {
  width: 100%;
  background-color: #212121;
}

.footer {
  max-width: 1280px;
  height: 150px;
  margin-inline: auto;
  padding: 30px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
