.footerContainer {
  width: 100%;
  background-color: #212121;
}

.footer {
  max-width: 1280px;
  height: 150px;
  margin-inline: auto;
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footerCopyright {
  color: var(--text-color);
}

.socialMediasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socialMediaTitle {
  color: var(--text-color);
}

.icons {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
