.meikaiPassSection {
  max-width: 1280px;
  margin-bottom: 50px;
}

.meikaiPassContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.meikaiPassCard {
  background-color: rgba(33, 33, 33, 0.6);
  max-width: 700px;
  border-top: 2px solid #c1c1c1;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 50px;
  margin-bottom: 50px;
}

.meikaiLogo {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.meikaiPassTexts {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 30px;
}

.meikaiPassTitle {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
}

.btnLearnMore {
  padding: 10px 25px;
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50px;

  cursor: pointer;
  transition: all ease-in 0.2s;
}

.btnLearnMore:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btnLearnMore:active {
  transform: scale(0.97);
}

.devicesTitle {
  text-align: center;
  margin-bottom: 20px;
}

.devicesPicture {
  width: 100%;
  max-width: 850px;
  height: auto;
}
