.featuredAnimeSection {
  max-width: 1280px;
  margin: 0 auto 120px auto;
  padding: 0 20px;
}

.featuredAnimeContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* Coluna Imagem */
.wallpaperWrapper {
  flex-grow: 0; /* não vai crescer além do tamanho base */
  flex-shrink: 0; /* não vai encolher se o container estiver pequeno */
  flex-basis: 65%; /* ocupa 65% da largura do container */
}

.wallpaperWrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 12px; /* opcional */
}

/* Coluna Info */
.animeInfoContainer {
  flex-grow: 0; /* não vai crescer além do tamanho base */
  flex-shrink: 0; /* não vai encolher se o container estiver pequeno */
  flex-basis: 35%; /* ocupa 65% da largura do container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
  text-align: center;
}

/* Logo */
.animeLogo {
  width: 320px !important;
  height: auto !important;
  margin-bottom: 20px;
  display: block;
}

/* Botões */
.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: aliceblue;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

/* Sinopse */
.animeSynopsis {
  line-height: 1.6;
}
