.downloadGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 80px;
}

.downloadTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 20px;
}

.seasonCard {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  position: relative;
  cursor: pointer;
}

.seasonCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;

  background: rgba(0, 0, 0, 0.3);

  opacity: 0;
  transition: opacity 0.3s ease;
}

.seasonCard:hover::after {
  opacity: 1;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  border-radius: 8px;
  overflow: hidden;
}

.seasonImage {
  object-fit: cover;
}

.downloadIcon {
  position: absolute;
  z-index: 2;

  color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.seasonCard:hover .downloadIcon {
  opacity: 1;
  animation: bounce 1s infinite;
}

.moreInfo {
  position: absolute;
  z-index: 2;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: var(--text-color);

  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.infoBox {
  position: absolute;
  left: 35px;
  bottom: 35px;

  background: rgba(0, 0, 0, 0.85);
  color: white;

  padding: 10px;
  border-radius: 6px;

  font-size: 12px;
  line-height: 1.4;

  opacity: 0;
  transform: translateY(5px);

  transition: all 0.2s ease;

  z-index: 2;
}

.moreInfo:hover + .infoBox {
  opacity: 1;
  transform: translateY(0);
}

.downloadLink {
  display: block;
  width: 100%;
}

.seasonTitle {
  font-weight: 500;
  color: var(--text-color);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-bottom: 2px;
}

.seasonNumber {
  font-size: 14px;
  color: var(--text-color);
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  /* transição suave da opacidade */
  opacity: 0;
  animation: overlayFadeIn 0.4s forwards ease;
}

.modalContent {
  background: #111;
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;

  transform: translateY(-40px);
  opacity: 0;
  animation: modalFadeIn 0.9s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btnClose {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.modalMessage {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modalBenefitsTitle {
  margin-bottom: 10px;
}

.modalBenefits {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalBenefitHighlight {
  border: solid 1px yellowgreen;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btnMeikaiPass {
  width: 100%;
  background-color: #383838;
  padding: 15px 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.btnMeikaiPass:hover {
  background-color: yellowgreen;
}

/* overlay fade-in */
@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* modal fade-in com leve movimento */
@keyframes modalFadeIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animação de Bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}
